@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin:0; padding:0;}
fieldset,img,textarea,button{ border:0;}
address,caption,cite,code,dfn,em,i,strong,b,th,var{ font-style:normal; font-weight:normal}
ol,ul,li{ list-style:none}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
body{ color:#666; background:#fff; font-size:12px; font:12px/22px Arial,Verdana, "\5b8b\4f53",sans-serif,"Hiragino Sans GB", "Microsoft YaHei", tahoma; text-align:left; -webkit-font-smoothing:antialiased;}
table{ border-collapse:collapse; border-spacing:0; font-size:inherit; font:100%;}
a{ text-decoration:none; cursor:pointer; outline:none; color:#666;}
a:hover{color:#fc301f;text-decoration:none;}
a:active{color:#fc301f;}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
*+html .clearfix { overflow:hidden;}
* html .clearfix { height: 1%;}
/*siderbar*/
